$red-color: #ff0000;
$color-navbar: #2a166f;
$white-color: #fff;
$bg-title: linear-gradient(#f95353, #d80c02);
$box-shadow-card: 0px 0px 39px -8px rgb(0 0 0 / 75%);
$bd-bt-card: solid 4px #2a166f;
$height-card: 230px;
$black-color: #000;
$box-shadow-menu: 1px 1px 5px #ccc;
$ez-blue-dark-color: #ffffff;
$ez-primary-color: #fafafa;
$xtcd-purple-color: #2a166f;
$xtcd-color-hover-bg: #f5f5f5;
$xtcd-color-hover-text: #ff0000;
$xtcd-color-black: #000;
$xtcd-color-blue: #0000cd;
$xtcd-white-color: #ffffff;
$xtcd-gray-color: #cacaca;
$xtcd-gray-200-color: #fcfcfc;
$xtcd-gray-300-color: #aaa;
