$ez-blue-dark-color: #ffffff;
$ez-primary-color: #fafafa;
$xtcd-purple-color: #2a166f;
$xtcd-color-hover-bg: #f5f5f5;
$xtcd-color-hover-text: #ff0000;
$xtcd-color-black: #000;
$xtcd-color-blue: #0000cd;
$xtcd-white-color: #ffffff;
$xtcd-gray-color: #cacaca;
$xtcd-gray-200-color: #fcfcfc;
$xtcd-gray-300-color: #aaa;
