.top-header {
  z-index: 1000;
  position: fixed;
  top: 0px;
  margin-left: 0px;
  width: 100%;
  left: 0px;
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #e9e9e9;
  background: #eafeff;
  margin-bottom: 20px;
}
.top-header span {
  padding-left: 10px;
  font-size: 14px;
  color: black;
}
.top-header span a {
  color: #ff0000;
  font-size: 18px;
  font-weight: 700;
}
.top-header ul li {
  padding: 0 8px;
}
.top-header ul li a {
  font-size: 13px;
  color: #428bca;
}

.search-item {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.search-item .btn-search {
  background-color: #2a166f;
  color: #fff;
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 768px) {
  .nav-header {
    display: none !important;
  }
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.navbar-header .menu li a {
  font-size: 14px;
  text-transform: uppercase;
  color: #2a166f !important;
  padding: 0 25px 0 0 !important;
}
.navbar-header .menu li a:hover p {
  color: #2a166f !important;
}
.navbar-header .menu li a p {
  padding: 0;
  line-height: 20px;
  width: 100%;
  clear: both;
  font-size: 14px;
  color: #585858;
  display: inline-block;
  text-transform: capitalize;
}
.navbar-header .menu .dropdown-list .menu-dropdown {
  padding: 0;
  margin: 0;
  top: 70px;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #dddddd;
  border-top: 2px solid #ddd;
  transition: opacity 0.4s;
  display: none;
  height: 0px;
  left: -13px;
}
.navbar-header .menu .dropdown-list .menu-dropdown li a {
  font-weight: 500;
  border-bottom: 1px solid #eee;
  padding: 0 0 0 10px;
  min-width: 245px;
  box-sizing: border-box;
  line-height: 32px;
  display: block;
  color: #2a166f;
  font-size: 12px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
.navbar-header .menu .dropdown-list .menu-dropdown li a:hover {
  background: #2a166f;
  color: #fff !important;
}
.navbar-header .menu .dropdown-list:hover .menu-dropdown {
  z-index: 999;
  display: block;
}

.banner .slick-prev {
  z-index: 9999;
  left: 20px;
}
.banner .slick-next {
  right: 30px;
}
.banner:hover .slick-next::before,
.banner:hover .slick-prev::before {
  opacity: 1;
}
.banner .slick-next::before,
.banner .slick-prev::before {
  font-size: 40px !important;
  color: rgba(39, 159, 187, 0.5);
  opacity: 0;
}
.banner .caption {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner .caption h2 {
  color: #099502;
  font-size: 36px;
}
.banner .caption p {
  color: #fff;
  font-size: 22px;
  margin: 20px 0;
}
.banner .caption a {
  display: inline-block;
  padding: 8px 10px;
  background: #2a166f;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}
.banner .caption a:hover {
  background: #333;
}
@media (max-width: 768px) {
  .banner .caption {
    top: 50%;
  }
  .banner .caption h2 {
    font-size: 20px;
  }
}

footer .footer-menu {
  width: 100%;
  background-color: #cacaca;
}
footer .footer-menu .menu-box {
  display: flex;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;
}
footer .footer-menu .menu-box .footer-menu-item {
  list-style: none;
  padding: 5px 20px;
  position: relative;
  font-weight: 700;
  border-right: 1px solid #ffffff;
}
footer .footer-menu .menu-box .footer-menu-item .menu-link {
  color: #000;
  text-decoration: none;
}
footer .footer-menu .menu-box .footer-menu-item .menu-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 576px) {
  footer .footer-menu .menu-box .footer-menu-item .menu-link {
    color: #ffffff !important;
  }
}
@media (max-width: 576px) {
  footer .footer-menu .menu-box .footer-menu-item {
    padding: 10px 10px;
    border: 1px solid #ffffff;
    background-color: #5f5f5f;
  }
}
@media (max-width: 992px) {
  footer .footer-menu .menu-box .footer-menu-item {
    margin-bottom: 8px;
  }
}
footer .footer-info {
  padding: 15px 0;
  overflow: hidden;
}
footer .footer-info .info-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
footer .footer-info .infos {
  font-family: times new roman, times, serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin: 0;
}
footer .footer-info .infos .infos-title {
  text-decoration: underline;
  margin-bottom: 0;
}
footer .footer-info .infos .infos-link {
  text-decoration: none;
  color: #000;
  margin: 0;
}
footer .footer-info .infos .infos-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .footer-info .infos .infos-policy {
  text-decoration: none;
}
footer .footer-info .infos .infos-policy:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .footer-info .infos .infos-policy .policy-img {
  width: 200px;
  height: 76px;
}
footer .footer-info p {
  font-family: times new roman, times, serif;
  text-align: justify;
}
footer .copyright {
  width: 100%;
  background-color: #cacaca;
  padding-top: 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 40px;
  font-weight: 500;
}

.card {
  margin-bottom: 22px;
  border-radius: 0;
  background-color: #fcfcfc;
}
.card .card-header {
  background-color: #2a166f;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 18px;
}
.card .list-group-flush .list-group-item {
  font-size: 13px;
  font-weight: bold;
}
.card .list-group-flush .list-group-item:after {
  content: ">";
  font-family: FontAwesome;
  float: left;
  font-size: 10px;
  padding-right: 7px;
}
.card .list-group-flush .list-group-item:hover {
  background-color: #f5f5f5;
  color: #ff0000;
  cursor: pointer;
}
.card .list-group-flush .list-group-item:hover:after {
  color: #63b9ce;
}

#xtcdEvents .section-news-events {
  margin-bottom: 22px;
}
#xtcdEvents .section-news-events .xtcd-support-item {
  padding: 0 10px;
}
#xtcdEvents .section-news-events .xtcd-support-item .support-item-title {
  margin: 10px 0;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#xtcdEvents .section-news-events .xtcd-support-item .support-item-title .item-title-sub {
  font-size: 14px;
  color: #2a166f;
}
#xtcdEvents .section-news-events .xtcd-support-item .item {
  padding: 3px 0;
  display: flex;
  align-items: center;
}
#xtcdEvents .section-news-events .xtcd-support-item .item-phone .phone {
  font-size: 22px;
  color: #ff0000;
  margin-left: 10px;
  font-weight: 400;
}
#xtcdEvents .section-news-events .xtcd-support-item .item-mail {
  text-decoration: none;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
#xtcdEvents .section-news-events .xtcd-support-item .item-mail .mail {
  font-size: 14px;
  margin-left: 10px;
}
#xtcdEvents .section-news-events .xtcd-news .card-header-news {
  margin: 10px 0 25px 0;
  background-color: #fcfcfc;
  padding-left: 10px;
}
#xtcdEvents .section-news-events .xtcd-news .card-header-news .card-header-news-title {
  font-size: 22px;
  color: #000;
  text-transform: none;
  position: relative;
}
#xtcdEvents .section-news-events .xtcd-news .card-header-news .card-header-news-title::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #2a166f;
  position: absolute;
  bottom: -10px;
  left: 0;
}
@media (max-width: 540px) {
  #xtcdEvents .section-news-events .xtcd-news {
    display: none;
  }
}
#xtcdEvents .section-news-events .card-content-news {
  max-height: 448px;
  overflow: auto;
}
#xtcdEvents .section-news-events .card-content-news .news-content {
  padding: 0 10px;
  display: block;
  margin: 0 0 15px 0;
}
#xtcdEvents .section-news-events .card-content-news .news-content .news-content-thumbnail {
  float: left;
}
#xtcdEvents .section-news-events .card-content-news .news-content .news-content-thumbnail .news-conten-link-img {
  text-decoration: none;
  color: #2a166f;
}
#xtcdEvents .section-news-events .card-content-news .news-content .news-content-thumbnail .news-conten-link-img .news-content-img {
  border-radius: 2px;
  max-width: 100px;
  vertical-align: middle;
  transition: all 0.2s;
}
#xtcdEvents .section-news-events .card-content-news .news-content .news-content-thumbnail .news-conten-link-img .news-content-img:hover {
  opacity: 0.8;
  cursor: pointer;
}
#xtcdEvents .section-news-events .card-content-news .news-content .news-content-text {
  padding: 0 0 0 110px;
}
#xtcdEvents .section-news-events .card-content-news .news-content .news-content-text .news-conten-link-text {
  display: block;
  text-decoration: none;
  color: #2a166f;
  font-size: 13px;
  line-height: 20px;
  text-overflow: ellipsis;
  font-weight: 500;
}
#xtcdEvents .section-news-events .card-content-news .news-content .news-content-text .news-content-date {
  font-size: 12px;
  color: #aaa;
  font-weight: 500;
}
#xtcdEvents .section-news-events .card-content-news .tags-content {
  padding: 0 10px;
}
#xtcdEvents .section-news-events .card-content-news .tags-content .tags-link {
  font-size: 13px;
  line-height: 20px;
  color: #2a166f;
  font-weight: 500;
}
#xtcdEvents .section-news-events .xtcd-brand {
  padding: 0 10px;
}
#xtcdEvents .section-news-events .xtcd-brand .brand-item {
  font-size: 13px;
  line-height: 20px;
  color: #000;
  text-align: justify;
  font-weight: 500;
}
#xtcdEvents .section-news-events .xtcd-brand .brand-item .brand-title {
  font-weight: bold;
  color: #0000cd;
}
#xtcdEvents .section-news-events .xtcd-brand .brand-item:first-child .brand-title {
  text-transform: uppercase;
  color: #ff0000;
}
#xtcdEvents .section-news-events .new-detail-item {
  padding: 8px 12px;
  margin-bottom: 20px;
  border: none;
  color: #000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
#xtcdEvents .section-news-events .new-detail-item .new-detail-img {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 540px) {
  #xtcdEvents .section-news-events .new-detail-item .new-detail-img {
    width: 100%;
  }
}
#xtcdEvents .section-news-events .new-detail-item .new-detail-title {
  font-size: 18px;
  margin: 0;
  line-height: 30px;
  font-family: Arial, sans-serif;
  font-weight: 500;
}
#xtcdEvents .section-news-events .new-detail-item .new-detail-content {
  font-size: 13px;
  line-height: 20px;
  color: #000;
  font-weight: 500;
}
#xtcdEvents .section-news-events .new-detail-item .new-detail-description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 500;
}
#xtcdEvents .section-news-events .new-detail-item .new-detail-description .new-detail-description-left {
  display: flex;
}
#xtcdEvents .section-news-events .new-detail-item .new-detail-description .new-detail-description-left .new-detail-description-box {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 11px;
  height: 37px;
  flex-wrap: wrap;
}
#xtcdEvents .section-news-events .new-detail-item .new-detail-description .new-detail-description-left .new-detail-description-box .straight {
  width: 1px;
  height: 15px;
  margin: 0 1px;
  background-color: #000;
}
#xtcdEvents .section-news-events .new-detail-item .new-detail-description .new-detail-description-left .new-detail-description-box .description-tag {
  text-transform: uppercase;
  font-size: 11px;
}
#xtcdEvents .section-news-events .new-detail-item .new-detail-description .new-detail-description-left .new-detail-description-box .description-tag a {
  color: #2a166f;
}
#xtcdEvents .section-news-events .new-detail-item .new-detail-description .new-detail-description-right {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-top: 10%;
  flex-wrap: wrap;
}
#xtcdEvents .section-news-events .new-detail-item .new-detail-description .new-detail-description-right .new-detail-description-right-link {
  text-transform: uppercase;
  color: #2a166f;
  font-size: 11px;
  text-align: end;
}
@media (max-width: 576px) {
  #xtcdEvents .section-news-events .new-detail-item .new-detail-description .new-detail-description-right {
    font-size: 11px;
  }
}
#xtcdEvents .section-news-events a {
  text-decoration: none;
}
#xtcdEvents .section-news-events a:hover {
  color: red !important;
  cursor: pointer !important;
}
#xtcdEvents .section-news-events li {
  list-style: none;
}

.type {
  background: #eee;
  border-top: 2px solid #ff0000;
  padding: 15px 0;
}
.type .type-content h3 {
  margin: 0;
}
.type .type-content h3 a {
  font-size: 15px;
  color: #333;
  font-weight: bold;
}
.type .type-content .tag-type a {
  color: #000;
  cursor: pointer;
  font: 13px/15px "Open Sans", sans-serif;
  padding: 2px 5px;
  margin: 2px;
  display: inline-block;
  border: solid 1px #eee;
  background-color: #fff;
}
.type .type-content .tag-type a:hover {
  color: #fff;
  background-color: #ff0000;
}
.type .slide-brand {
  padding: 15px 0;
}

.home-page {
  padding-top: 20px;
}
.home-page .main-content .title {
  margin-bottom: 10px;
  background: linear-gradient(#f95353, #d80c02);
}
.home-page .main-content .title h2 {
  line-height: 30px;
}
.home-page .main-content .title h2 a {
  display: block;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  margin: 5px 10px 5px 15px;
}
@media (max-width: 576px) {
  .home-page .main-content .title h2 a {
    margin: 0;
    padding: 0 5px;
    font-size: 12px;
  }
}
.home-page .main-content .content .card-content {
  min-height: 230px;
  border-bottom: solid 4px #2a166f;
  box-shadow: 0px 0px 39px -8px rgba(0, 0, 0, 0.75);
  background: #fff;
  margin-bottom: 20px;
  transition: all 0.2s;
  cursor: pointer;
}
.home-page .main-content .content .card-content .card-title {
  padding: 10px 5px 0 5px;
}
.home-page .main-content .content .card-content .card-title h4 {
  height: 58px;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  margin: 6px 0 0 0;
}
.home-page .main-content .content .card-content .card-title h4 a {
  font-weight: 500;
  color: #2a166f;
}
.home-page .main-content .content .card-content:hover {
  opacity: 0.8;
}
.home-page .right-menu .sub-menu {
  box-shadow: 1px 1px 5px #ccc;
  margin-top: 0px;
  padding: 0 6px;
  background: #ddd;
}
.home-page .right-menu .sub-menu h4 {
  color: #555;
  border-bottom: solid 1px #eee;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  padding: 8px 0 6px 0px;
  margin-left: -10px;
  margin-right: -10px;
  background: linear-gradient(#f95353, #d80c02);
}
.home-page .right-menu .sub-menu h4 a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-weight: 600;
  font-size: 18px;
  padding: 2px 10px;
}
.home-page .right-menu .sub-menu ul li {
  padding-bottom: 2px !important;
}
.home-page .right-menu .sub-menu ul li a {
  font-family: normal 15px Arial;
  color: #2a166f;
  display: block;
  font-size: 15px;
  padding: 7px 0;
  line-height: 17px;
  padding-left: 5px;
  text-decoration: none;
  border-bottom: dashed 1px rgba(0, 0, 0, 0.2);
}
.home-page .right-menu .sub-menu ul li a:hover {
  color: #ff0000;
}
.home-page .right-menu .help-contact {
  border: 1px solid #e4e4e4;
  background: #fcfcfc;
  margin-bottom: 30px;
}
.home-page .right-menu .help-contact .title-help {
  background: #2a166f;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px 0 10px 0px;
  line-height: 20px;
  min-height: 20px;
}
.home-page .right-menu .help-contact ul {
  padding: 0 10px;
}
.home-page .right-menu .help-contact ul li h4 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.home-page .right-menu .help-contact ul li h4 span {
  font-size: 14px;
  color: #2a166f;
}
.home-page .right-menu .help-contact ul li p {
  font-size: 22px;
  margin: 0;
  color: #ff0000;
  padding: 5px 0;
}
.home-page .right-menu .help-contact ul li a {
  color: #2a166f;
  font-size: 14px;
}
.home-page .right-menu .xtcd-news .card-header-news {
  margin: 10px 0 25px 0;
  background-color: #fcfcfc;
  padding-left: 10px;
}
.home-page .right-menu .xtcd-news .card-header-news .card-header-news-title {
  font-size: 22px;
  color: #000;
  text-transform: none;
  position: relative;
}
.home-page .right-menu .xtcd-news .card-header-news .card-header-news-title::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #2a166f;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.home-page .right-menu .card-content-news {
  max-height: 448px;
  overflow: auto;
}
.home-page .right-menu .card-content-news .news-content {
  padding: 0 10px;
  display: block;
  margin: 0 0 15px 0;
}
.home-page .right-menu .card-content-news .news-content .news-content-thumbnail {
  float: left;
}
.home-page .right-menu .card-content-news .news-content .news-content-thumbnail .news-conten-link-img {
  text-decoration: none;
  color: #2a166f;
}
.home-page .right-menu .card-content-news .news-content .news-content-thumbnail .news-conten-link-img .news-content-img {
  border-radius: 2px;
  max-width: 100px;
  vertical-align: middle;
  transition: all 0.2s;
}
.home-page .right-menu .card-content-news .news-content .news-content-thumbnail .news-conten-link-img .news-content-img:hover {
  opacity: 0.8;
  cursor: pointer;
}
.home-page .right-menu .card-content-news .news-content .news-content-text {
  padding: 0 0 0 110px;
}
.home-page .right-menu .card-content-news .news-content .news-content-text .news-conten-link-text {
  display: block;
  text-decoration: none;
  color: #2a166f;
  font-size: 13px;
  line-height: 20px;
  text-overflow: ellipsis;
  font-weight: 500;
}
.home-page .right-menu .card-content-news .news-content .news-content-text .news-content-date {
  font-size: 12px;
  color: #aaa;
  font-weight: 500;
}
.home-page .right-menu .card-content-news .tags-content {
  padding: 0 10px;
}
.home-page .right-menu .card-content-news .tags-content .tags-link {
  font-size: 13px;
  line-height: 20px;
  color: #2a166f;
  font-weight: 500;
}
.home-page .right-menu .xtcd-brand {
  padding: 0 10px;
}
.home-page .right-menu .xtcd-brand .brand-item {
  font-size: 13px;
  line-height: 20px;
  color: #000;
  text-align: justify;
  font-weight: 500;
}
.home-page .right-menu .xtcd-brand .brand-item .brand-title {
  font-weight: bold;
  color: #0000cd;
}
.home-page .right-menu .xtcd-brand .brand-item:first-child .brand-title {
  text-transform: uppercase;
  color: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
}

.w-slide {
  width: 130px;
  margin-right: 10px;
}

.text-right {
  text-align: right;
}

@media (max-width: 768px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-sm {
    max-width: 970px !important;
  }
}
@media (min-width: 1023px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1170px;
  }
}/*# sourceMappingURL=style.css.map */