@import "variables";
@import "mixins";
@import "components";
@import "pages/home-page";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  // font-family: $ez-font-family;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
  padding: 0;
}
.w-slide {
  width: 130px;
  margin-right: 10px;
}
.text-right {
  text-align: right;
}

@media (max-width: 768px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-sm {
    max-width: 970px !important;
  }
}

@media (min-width: 1023px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1170px;
  }
}

// @media (min-width: 1400px) {
//   .container,
//   .container-lg,
//   .container-md,
//   .container-sm {
//     max-width: 1320px;
//   }
// }
// @media (min-width: 1440px) {
//   .container {
//     max-width: 1280px;
//   }
// }
