#xtcdEvents {
  .section-news-events {
    margin-bottom: 22px;
    .xtcd-support-item {
      padding: 0 10px;

      .support-item-title {
        margin: 10px 0;
        font-size: 18px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        .item-title-sub {
          font-size: 14px;
          color: $xtcd-purple-color;
        }
      }

      .item {
        padding: 3px 0;
        display: flex;
        align-items: center;

        &-phone {
          .phone {
            font-size: 22px;
            color: $xtcd-color-hover-text;
            margin-left: 10px;
            font-weight: 400;
          }
        }

        &-mail {
          text-decoration: none;
          color: $xtcd-color-black;
          font-family: Arial, sans-serif;
          font-size: 14px;
          font-weight: 400;

          // &:hover {
          //   cursor: pointer;
          //   color: red;
          // }

          .mail {
            font-size: 14px;
            margin-left: 10px;
          }
        }
      }
    }

    .xtcd-news {
      .card-header-news {
        margin: 10px 0 25px 0;
        background-color: $xtcd-gray-200-color;
        padding-left: 10px;

        .card-header-news-title {
          font-size: 22px;
          color: $xtcd-color-black;
          text-transform: none;
          position: relative;

          &::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: $xtcd-purple-color;
            position: absolute;
            bottom: -10px;
            left: 0;
          }
        }
      }

      @media (max-width: 540px) {
        display: none;
      }
    }

    .card-content-news {
      max-height: 448px;
      overflow: auto;

      .news-content {
        padding: 0 10px;
        display: block;
        margin: 0 0 15px 0;

        .news-content-thumbnail {
          float: left;

          .news-conten-link-img {
            text-decoration: none;
            color: $xtcd-purple-color;

            .news-content-img {
              border-radius: 2px;
              max-width: 100px;
              vertical-align: middle;
              transition: all 0.2s;
              &:hover {
                opacity: 0.8;
                cursor: pointer;
              }
            }
          }
        }

        .news-content-text {
          padding: 0 0 0 110px;

          .news-conten-link-text {
            display: block;
            text-decoration: none;
            color: $xtcd-purple-color;
            font-size: 13px;
            line-height: 20px;
            text-overflow: ellipsis;
            font-weight: 500;
          }

          .news-content-date {
            font-size: 12px;
            color: $xtcd-gray-300-color;
            font-weight: 500;
          }
        }
      }

      .tags-content {
        padding: 0 10px;

        .tags-link {
          font-size: 13px;
          line-height: 20px;
          color: $xtcd-purple-color;
          font-weight: 500;
        }
      }
    }

    .xtcd-brand {
      padding: 0 10px;

      .brand-item {
        font-size: 13px;
        line-height: 20px;
        color: $xtcd-color-black;
        text-align: justify;
        font-weight: 500;
        .brand-title {
          font-weight: bold;
          color: $xtcd-color-blue;
        }

        &:first-child {
          .brand-title {
            text-transform: uppercase;
            color: $xtcd-color-hover-text;
          }
        }
      }
    }

    .new-detail-item {
      padding: 5px 7px;
      margin-bottom: 20px;
      border: none;
      color: $xtcd-color-black;
      -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 3px rgb(0 0 0 / 10%);

      .new-detail-img {
        display: block;
        max-width: 100%;
        height: auto;

        @media (max-width: 540px) {
          width: 100%;
        }
      }

      .new-detail-title {
        font-size: 18px;
        margin: 0;
        line-height: 30px;
        font-family: Arial, sans-serif;
        font-weight: 500;
      }

      .new-detail-content {
        font-size: 13px;
        line-height: 20px;
        color: $xtcd-color-black;
        font-weight: 500;
      }

      .new-detail-description {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-weight: 500;

        .new-detail-description-left {
          display: flex;
          .new-detail-description-box {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 11px;
            height: 37px;
            flex-wrap: wrap;

            .straight {
              width: 1px;
              height: 15px;
              margin: 0 1px;
              background-color: $xtcd-color-black;
            }

            .description-tag {
              text-transform: uppercase;
              font-size: 11px;

              a {
                color: $xtcd-purple-color;
              }
            }
          }
        }

        .new-detail-description-right {
          display: flex;
          gap: 5px;
          align-items: center;
          justify-content: space-between;
          margin-left: auto;
          margin-top: 10%;
          flex-wrap: wrap;

          .new-detail-description-right-link {
            text-transform: uppercase;
            color: $xtcd-purple-color;
            font-size: 11px;
            text-align: end;
          }

          @media (max-width: 576px) {
            font-size: 11px;
          }
        }
      }
    }

    a {
      text-decoration: none;
      &:hover {
        color: red !important;
        cursor: pointer !important;
      }
    }

    li {
      list-style: none;
    }
  }
}
