.navbar-header {
  .menu {
    li {
      a {
        font-size: 14px;
        text-transform: uppercase;
        color: $color-navbar !important;
        padding:0 25px 0 0 !important;
        &:hover {
          p{
            color: $color-navbar !important;
          }
        }
        p {
          padding: 0;
          line-height: 20px;
          width: 100%;
          clear: both;
          font-size: 14px;
          color: #585858;
          display: inline-block;
          text-transform: capitalize;
        }
      }
    }
    .dropdown-list {
      .menu-dropdown {
        padding: 0;
        margin: 0;
        top: 70px;
        background-color: $white-color;
        z-index: 1;
        border: 1px solid #dddddd;
        border-top: 2px solid #ddd;
        transition: opacity 0.4s;
        display: none;
        height: 0px;
        left: -13px;
        li {
          a {
            font-weight: 500;
            border-bottom: 1px solid #eee;
            padding: 0 0 0 10px;
            min-width: 245px;
            box-sizing: border-box;
            line-height: 32px;
            display: block;
            color: $color-navbar;
            font-size: 12px;
            background-color: $white-color;
            overflow: hidden;
            position: relative;
            &:hover {
              background: $color-navbar;
              color: $white-color !important;
            }
          }
        }
      }
      &:hover {
        .menu-dropdown {
          z-index: 999;
          display: block;
        }
      }
    }
  }

}
